<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495502066368-j59p175bh3egq2n8936f33b46fmqv1aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495502066368-j59p175bh3egq2n8936f33b46fmqv1aj</string>
	<key>API_KEY</key>
	<string>AIzaSyCLxoZg-9OBEWAnEAdXPIpu_wouo7nSIak</string>
	<key>GCM_SENDER_ID</key>
	<string>495502066368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kidney</string>
	<key>PROJECT_ID</key>
	<string>kidney-a0523</string>
	<key>STORAGE_BUCKET</key>
	<string>kidney-a0523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495502066368:ios:2fed5f405fca1118ff6325</string>
</dict>
</plist>